*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --textcolor:white;
}

body{
    background-image: url(./main_bkg_1.jpg);
    background-size: cover;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    border: var(--textcolor) solid 1px;
    /* text-decoration: none !important; */
}

a,
a:visited,
a:active{
    text-decoration: none;
    color:var(--textcolor);
}

a:hover{
    border-bottom: 1px white solid;
    transition: 0.5s ease-in-out;
}

.toggle_btn{
    color: var(--textcolor);
    display: none;
    margin-top: 12px;
}

h2{
    text-align: center;
    padding-top: 25px;
    font-size: 3rem;
    color: var(--textcolor);
}

.img_d{
    display: flex;
    /* justify-content: space-between; */
}

img{
    height: 470px;
    padding: 2rem;
    margin-left: 10%;
}

.details{
    text-align: center;
    margin-top: 130px;
    margin-right: 10%;
    margin-left: 5%;
    font-size: 1.5rem;
    color:var(--textcolor);
    backdrop-filter: blur(2px);
}

@media screen and (max-width:768px) {
    body{
        background-image: url(./main_bkg_1.jpg);
        background-size: cover;
    }
    .nav1,
    .nav2,
    .nav3,
    .nav4{
        display: none;
    }
    .toggle_btn{
        display: contents;
    }
    .header{
        margin: 0;
        border: none;
    }
    .details{
        margin-top: 5%;
    }
}

@media screen and (max-width:426px) {
    .img_d{
        flex-direction: column;
    }
    .details{
        margin: 5%;
        /* margin-right: 0; */
        text-align: center;
    }
}